*{margin:0;padding:0;}
body{font-family: 'Josefin Sans', sans-serif;box-sizing:border-box;}
.container{max-width:1170px;margin:0 auto;box-sizing:border-box;}
.main{width:100%;height:100vh;display:flex;}
.div1{width:350px;height:97vh;border: 1px solid black;box-shadow: 0px 10px 15px black}
.div2{width:350px;height:97vh;border: 1px solid black;margin-left:10px;box-shadow: 0px 10px 15px black}
.div3{width:350px;height:97vh;border: 1px solid black;margin-left:10px;box-shadow: 0px 10px 15px black}
.header {
    width: 100%;
    height: 147px;
    background-image: linear-gradient(90deg, #423ab7 7%, #000000b8 49%,black 80%,#004e80 101%);
    clip-path: polygon(50% 0%, 100% 0, 100% 51%, 50% 100%, 49% 100%, 0 53%, 0 0);
}
.header2{ width: 100%;
    height: 147px;
    background-image: linear-gradient(90deg, #00BCD4 48%, #000000b8 95%);
    clip-path: polygon(50% 0%, 100% 0, 100% 51%, 50% 100%, 49% 100%, 0 53%, 0 0);
}
.header2 ul {
    width: 100%;
    height: 69px;
    
    
    overflow: hidden;
    /* margin-top: 10; */
    /* margin-left: 177px; */
    transition: all 3s linaer;
}
.header2 h1 {
    margin-left: 103px;
    color: wheat;
    margin-top: 1px;
    font-size: 26px;
}
.header2 li {
    margin-left: 5px;
    margin-top: 28px;
    list-style-type: none;
    display: inline-block;
    
    font-size: 30px;
}
.header ul {
    width: 100%;
    height: 69px;
    
    animation: animate 6s linear infinite;
    overflow: hidden;
    /* margin-top: 10; */
    /* margin-left: 177px; */
    transition: all 3s linaer;
}
.header h1 {
    margin-left: 103px;
    color: wheat;
    margin-top: 1px;
    font-size: 26px;
}
.header li {
    margin-left: 5px;
    margin-top: 28px;
    list-style-type: none;
    display: inline-block;
    
    font-size: 30px;
}
@keyframes animate{
	
	0%{width:0%;color:black;}
	100%{width:100%;color:black;}	
	
}
.header li:nth-child(1){
	
	color:#f5f0f9;
	
}
.header li:nth-child(2){
	
	color:red;
	
}
.header li:nth-child(3){
	
	color:#3F51B5;
	
}
.header li:nth-child(4){
	
	color:blue;
	
}
.header li:nth-child(5){
	
	color:#00BCD4;
	
}
.header li:nth-child(6){
	
	color:#ffc107e3;
	
}
.header li:nth-child(7){
	
	color:wheat;
	
}
.header li:nth-child(8){
	
	color:blue;
	
}
.header li:nth-child(9){
	
	color:gray;
	
}
.header li:nth-child(10){
	
	color:blue;
	
}
.header li:nth-child(11){
	
	color:blue;
	
}
.banner{width:100%;height:253px;position:relative;  
 background-image: linear-gradient(to left, white 90%,#00ffee 110%);}
.camara {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.camara img{width:100%;height:100%;}
.drone {
    width: 165px;
    height: 120px;
    position: absolute;
    top: 5%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ffee;
	border-radius:81% 19% 70% 30% / 78% 30% 70% 22% ;
}
.drone img {
    border-radius: 50%;
    width: 77%;
    height: 72%;
}
.tour{position:absolute;width:100px;height:100px;top:117;left:47;color:red;}
.tour h1{font-size:30px;}
.fotter {position:relative;
    display: flex;
    width: 100%;
    height: 160px;
    background-color: #03A9F4;
    justify-content: center;
    align-items: center;
}
button {
    padding: 15 25;
    background-color: blue;
    border-radius: 10px;
}
.arrow {
    width: 50px;
    height: 22px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 68px;
    left: 250px;
}
.arrow img{width:60%;height:70%;}